<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulDesk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body id="modal-dpto">
    <article>
        <section class="add-container">
            <form action="/admin/add-department" method="post">
                <label for="departmentName">Adicionar Departamento</label>
                <div class="btn-container">
                    <input type="text" id="departmentName" name="departmentName" maxlength="25">
                    <button type="submit" class="btn-confirm">Confirmar</button>
                </div>
            </form>
        </section>
        <section class="table-container">
            <h1>Lista de Departamentos</h1>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                        <tr th:each="department : ${departments}">
                            <td th:text="${department.name}"></td>
                            <td class="td-btn">
                                <form action="/admin/delete-department" method="post">
                                    <input type="hidden" name="departmentId" th:value="${department.id}" />
                                    <button type="submit" class="btn-delete">Excluir Departamento</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</body>
</html>