<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<form action="/admin/add-department" method="post">
    <label for="departmentName">Nome do Departamento:</label>
    <input type="text" id="departmentName" name="departmentName">
    <button type="submit">Adicionar Departamento</button>
</form>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
        <td>
            <form action="/admin/delete-department" method="post">
                <input type="hidden" name="departmentId" th:value="${department.id}" />
                <button type="submit">Excluir departamento</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- No final do conteúdo -->
<a th:href="@{/admin/admin-page(name=${name})}">Voltar para página do admin</a>

</html>