<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulDesk</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<nav>
    <div class="brand">
        <h1>SoulDesk</h1>
    </div>
    <div>
        <ul>
            <li>
                <a href="/login-user">Entrar</a>
            </li>
            <li>
                <a href="/register-user">Cadastrar</a>
            </li>
            <li>
                <a href="#">Sobre nós</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <div class="container">
        
        <form action="/login-user" method="POST">
            <div class="form-login">
                <h2>Bem-Vindo</h2>
            <div class="input-group">
                <label>E-mail:</label>
                <input type="text" id="email" name="email" th:value="${email}" required>
            </div>
            <div class="input-group">
                <label>Senha:</label>
                <input type="password" id="password" name="password" th:value="${password}" required>
            </div>
            <button type="submit">Entrar</button>
                <a href="#" class="button">Criar uma conta</a>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="container">
        <p>Copy Right © 2024 SoulCode Academy #ElasTech</p>
        <div class="sponsors">
            <a href="#">SOUL</a>
            <a href="#">PagBank</a>
            <a href="#">@Github</a>
            <a href="#">@Github</a>
            <a href="#">@Github</a>
        </div>
    </div>
</footer>
</body>
</html>