<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulDesk</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <form action="/register-user" method="POST">
        <label>Nome:</label>
        <input type="text" name="name" id="name" required>
        <label>Senha:</label>
        <input type="password" name="password" id="password" required>
        <label>Confirmar Senha:</label>
        <input type="password" name="confirmPassword" id="confirm-password" required>
        <label>E-mail:</label>
        <input type="email" name="email" id="email" required>
        <label>Tipo:</label>
        <input type="text" name="typeId" id="type" required>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>