<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h2>Redefinir Senha</h2>
<form action="/reset-password" method="post">
    <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <button type="submit">Redefinir Senha</button>
    <div th:text="${errorNotFoundUser}">

    </div>
    <a th:if="${errorNotFoundUser}" href="/register-user">Por favor, crie um cadastro.</a>

</form>
</body>
</html>