<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulDesk</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header>
    <img src="souldesk.png">
    <p>Olá,</p>
    <button>Adicionar Chamados</button>
    <button>Sair</button>
</header>
<main>
    <table>
        <h1>Lista de Chamados</h1>
        <trbody>
            <td>Data</td>
            <td>Titulo</td>
            <td>Departamento</td>
            <td>Prioridade</td>
            <td>Descrição</td>
            <td>Status</td>
        </trbody>
    </table>

    <table>
        <h1>Lista de Chamados Atribuidos</h1>
        <trbody>
            <td>Data</td>
            <td>Titulo</td>
            <td>Departamento</td>
            <td>Prioridade</td>
            <td>Descrição</td>
            <td>Status</td>
        </trbody>
    </table>

</main>
<footer>
    <p>Sobre Nós</p>
    <p>Este projeto foi feito como projeto final da SoulCode ElasTech 2024 pela Pagbank e balabalbalbalalal</p>
    <p>Patrocinadores</p>
    <img src="soulcod.png">
    <img src="pagbank.png">
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
</footer>
</body>
</html>