<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoulDesk</title>
    <link rel="stylesheet" href="style-pg.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header class="header">
    <img class="img" src="imagens/souldesk.png">
    <p>Bem-vindo, <span th:text="${name}"></span>!</p>
    <button class="button">Adicionar Chamados</button>
    <button class="button-sair">Sair</button>
</header>
<main class="main">
    <form action="/user-page/{Id}" method="GET">
    <section class="section">
        <div class="titulo">
            <h1 class="h1">Lista de Chamados</h1>
        </div>
        <div class="div-table">
            <table class="table">
                <tr class="tr">
                    <th class="th">Data</th>
                    <th class="th">Titulo</th>
                    <th class="th">Departamento</th>
                    <th class="th">Prioridade</th>
                    <th class="th">Descrição</th>
                    <th class="th">Status</th>
                </tr>
                <tr class="tr">
                    <td class="td">teste</td>
                    <td class="td">t</td>
                    <td class="td">e</td>
                    <td class="td">r</td>
                    <td class="td">r</td>
                    <td class="td">r</td>
            </table>
        </div>
    </section>
    </form>
</main>
<footer class="footer">
    <p>Sobre Nós</p>
    <p>Este projeto foi feito como projeto final da SoulCode ElasTech 2024 pela Pagbank e balabalbalbalalal</p>
    <p>Patrocinadores</p>
    <img src="soulcod.png">
    <img src="pagbank.png">
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
</footer>
</body>
</html>