<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>SoulDesk</title>
    <link rel="stylesheet" href="style-pg.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <img class="img" src="imagens/souldesk.png">
    <p>Olá,</p>
    <button class="button">Adicionar Chamados</button>
    <button class="button-sair">Sair</button>
</header>
<main class="main">
    <section class="section">
        <div class="titulo">
            <h1 class="h1">Lista de Chamados</h1>
        </div>
        <div class="div-table">
            <table class="table">
                <trbody>
                    <td>Data</td>
                    <td>Titulo</td>
                    <td>Departamento</td>
                    <td>Prioridade</td>
                    <td>Descrição</td>
                    <td>Status</td>
                </trbody>
            </table>
        </div>
    </section>
</main>
<footer class="footer">
    <p>Sobre Nós</p>
    <p>Este projeto foi feito como projeto final da SoulCode ElasTech 2024 pela Pagbank e balabalbalbalalal</p>
    <p>Patrocinadores</p>
    <img src="soulcod.png">
    <img src="pagbank.png">
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
    <a>@git</a>
</footer>
</body>
</html>