:root {
    /* Cores Neutras */
    --n0: #F3F3F3;
    --n1: #E3E3E3;
    --n2: #8E8E8E;
    --n3: #636363;
    --n4: #2D3235;
    --n5: #20E0C0C;
    --white: #FFF;

    /* Cores Principais*/
    --p1: #DEFCF2;
    --p2: #9BD9D0;
    --p3: #9AD4BC;
    --p4: #328C8D;
    --p5: #396C6A;

    /* Cores Warnings */
    --r1: #D78B89;
    --r2: #E3716E;
    --r3: #EC5353;
    --r4: #D74044;
    --r5: #CD363C;
}

body {
    width: 100vw;
    margin: 0;
    background-color: var(--white);
    font-family: "Blinker", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 115px;

}

main {
    top: 70px;
    width: 100vw;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

a, :link, :visited {
    text-decoration: none;
}

button {
    font-family: "Blinker", sans-serif;
}

/* Navbar */

nav {
    height: 70px;
    background-color: var(--p2);
    color: var(--p5);
    box-shadow: rgba(0,0,0, .20) 0px -2px 10px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;

    .brand a,
    .brand :link,
    .brand :visited {
        color: var(--p5);
        font-size: 1.2em;
    }

    ul {
        display: flex;
        align-items: center;
        margin-right: 1em;

        a {
            background-color: var(--p4);
            color: #fff!important;
            border-radius: 10px;
            margin: 5px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: var(--p5);
        }

        li a, :link, :visited {
            color: #000;
            padding: .4em .6em;
        }
    }

    .nav-info {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h2 {
            margin: 0;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
        }
    }
}

/* Page Home */
#home {
    top: 70px;
    width: 100vw;
    height: calc(100vh - 70px - 115px);
    display: flex;
    justify-content: center;
    align-items: center;

    .home-section {
        width: 70vw;
        display: flex;
        justify-content: space-around;

        @media (max-height: 600px) {
            width: 800px;

        }

         .home-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 500px;

            h1 {
                font-size: 2em;
                color: var(--p5);
                margin: 0;
            }

            p {
                font-size: 1.5em;
            }

            a {
                background-color: var(--p4);
                color: var(--white);
                width: 100%;
                border-radius: 10px;
                padding: 10px 0;
                text-align: center;
                font-size: 1.2em;
            }

            a:hover {
                background-color: var(--p5);
            }
         }

        img {
            width: 400px;
            height: 400px;
        }
    }
}

/* Page Login */

#login {
    height: calc(100vh - 70px - 115px);
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        background-color: var(--n0);
        width: 500px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .title-login {
            text-align: center;

            h1 {
                font-size: 2em;
                color: var(--p5);
                margin: 0 0 20px;
            }

            p {
                margin: 15px 0 0;
                font-size: 1.1em;
                color: var(--n4);
            }
        }

        .form-login-container {
            width: 350px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            form {
                max-width: 500px;
                min-width: 250px;
                margin: 0 auto;

                label {
                    display: block;
                    margin: 10px 0;
                    font-weight: bold;
                }

                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    width: 250px;
                    padding: 10px 5px;
                    border-radius: 10px;
                    border: 1px solid var(--p3);
                }

                input:focus{
                   outline: 1px solid var(--p4);
                }
            }
        }

        .btn-login-container {
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            button[type="submit"] {
                background-color: var(--p4);
                color: var(--white);
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                font-size: 1em;
            }

            button[type="submit"]:hover {
                background-color: var(--p5);
            }
        }
    }
}

/* Page Register */

#register {
    height: calc(100vh - 70px - 115px);
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        background-color: var(--n0);
        width: 500px;
        height: 550px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title-register {
            text-align: center;

            h1 {
                font-size: 2em;
                color: var(--p5);
                margin: 0 0 20px;
            }

            p {
                margin: 15px 0 0;
                font-size: 1.1em;
                color: var(--n4);
            }
        }

        .form-register-container {
            width: 350px;
            height: 450px;


            form {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                max-width: 500px;
                min-width: 250px;
                height: 100%;
                margin: 0 auto;

                label {
                    display: block;
                    margin: 10px 0;
                    font-weight: bold;
                }

                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    width: 250px;
                    padding: 10px 0 10px 5px;
                    border-radius: 10px;
                    border: 1px solid var(--p3);
                }

                input:focus{
                   outline: 1px solid var(--p4);
                }

                select {
                    width: 250px;
                    padding: 10px 5px;
                    border-radius: 10px;
                    border: 1px solid var(--p3);
                }

                select:focus{
                   outline: 1px solid var(--p4);
                }
            }
        }

        button[type="submit"] {
            background-color: var(--p4);
            color: var(--white);
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1em;
        }

        button[type="submit"]:hover {
            background-color: var(--p5);
        }
    }
}


/* Page About */

#about {
    top: 70px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        color: var(--p5);
        font-size: 2em;
    }

    section {
        width: 90vw;
        height: 200px;
        background-color: var(--n1);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       margin: 10px 0;

        .dev-container {
            width: 400px;
            display: flex;

            .img-jana-about {
                width: 200px;
                height: 200px;
                border-radius: 10px 0 0 10px;
                overflow: hidden;
                position: relative;

                img {
                    height: 200px;
                    position: absolute;
                    left: -15px;
                    top: 0;
                }
            }

            .img-dev-about {
                width: 200px;
                height: 200px;
                overflow: hidden;
                position: relative;

                img {
                    height: 200px;
                    position: absolute;
                    left: 25px;
                    top: 0;
                }
            }

            .info-dev-about {
                width: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                h2 {
                    color: var(--p4);
                    margin: 0;
                }

                a, :link, :visited {
                    text-decoration: none;
                    color: var(--n3);
                }
            }


        }

        span {
            height: 180px;
            border: 1px solid var(--n3);
            margin: 0 10px;
        }

        .dev-text {
            text-align: center;
            width: 100%;
        }
    }
}

/* Page Technical */

#technical {
    top: 70px;
    width: 100vw;
    height: calc(100vh - 70px - 115px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    section {
        width: 90%;
        height: 350px;
        background-color: var(--n0);
        border-radius: 10px;
        border: 1px solid var(--p5);
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            color: var(--p5);
            font-size: 2em;
            margin: 10px 0;
        }

        .table-container {
            background: var(--white);
            width:90%;
            height: 280px;
            border-radius: 10px;
            border: 1px solid var(--n2);
            overflow: auto;

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    border-bottom: 1px solid var(--n1);
                    font-size: 1.2em;
                }

                th, td {
                    padding: 10px 0;
                }
            }
        }
    }
}

/* Page User */

#user {
    top: 70px;
    width: 100vw;
    height: calc(100vh - 70px - 115px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    section {
        width: 90%;
        height: 700px;
        background-color: var(--n0);
        border-radius: 10px;
        border: 1px solid var(--p5);
        text-align: center;

        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            color: var(--p5);
            font-size: 2em;
            margin: 10px 0;
        }

        .table-container {
            background: var(--white);
            width:90%;
            height: 620px;
            border-radius: 10px;
            border: 1px solid var(--n2);
            overflow: auto;

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    border-bottom: 1px solid var(--n1);
                    font-size: 1.2em;
                }

                th, td {
                    padding: 10px 0;
                }
            }
        }
    }
}

/* Modal */

#modal {
    .modal-header {
        text-align: center;

        h1 {
            margin: 0;
        }

        .modal-body {

        }

        .btn-close {
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            color: var(--n5);
            cursor: pointer;

            font-size: 1.5em;
        }
    }


    .modal-footer {
        .btn-confirm {
            padding: 10px 20px;
            cursor: pointer;
            background-color: var(--p4);
            color: #fff!important;
            border-radius: 10px;
            border: none;
            margin: 5px;
            transition: background-color 0.3s ease;
        }

        .btn-confirm:hover {
            background-color: var(--p5);
        }

        .btn-cancel {
            padding: 10px 20px;
            cursor: pointer;
            background-color: var(--r3);
            color: #fff!important;
            border-radius: 10px;
            border: none;
            margin: 5px;
            transition: background-color 0.3s ease;
        }

        .btn-cancel:hover{
            background-color: var(--r4);
        }
    }
}

/* Footer */

footer {
    background-color: var(--p5);
    color: var(--white);
    margin: 0;
    width: 100%;
    height: 110px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;

    p {
        margin: 0;
    }

    @media (max-height: 600px) {

        .footer-about {
            width: 80px;
        }

        .footer-content{
            width: 100px;
        }

        .git-list ul {
            padding-left: 20px;
        }

        .git-list-center {
            margin: 5px!important;
        }
    }
  
    .footer-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .footer-about {
            width: 50vw;
            height: 90px;
            padding: 0 10px;
            text-align: center;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: space-around;

            a, :link, :visited {
                color: var(--white);
                font-size: 1.2em;
                font-weight: semi-bold;
            }

            p {
                margin-top: 10px;
                font-weight: 300;
            }
        }

         .footer-content{
            width: 45vw;
            height: 90px;
            display: flex;
            flex-direction: row;

            .sponsors {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                h2 {
                    font-size: 1.2em;
                    margin: 0;
                    font-weight: normal;
                }

                div {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;

                    img {
                        width: 120px;
                    }
                }
            }

            .git-list {
                display: flex;
                align-items: center;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0;

                    li a, :link, :visited {
                        width: 120px;
                        color: var(--white);
                    }
                }

                .git-list-center {
                    margin: 10px;
                }
            }
         }

         span {
            height: 70px;
            border: 0.5px solid var(--white);
         }
    }

    .copy-footer {
        font-size: 0.9em;
        font-weight: lighter;
        margin-top: 4px;
    }
}
