*{
    margin:0;
    padding:0;
}
:root {
    /* Cores Neutras */
    --n1: #E3E3E3;
    --n2: #8E8E8E;
    --n3: #636363;
    --n4: #2D3235;
    --n5: #20E0C0C;
    --white: #FFFFFF;
    --black: #000000;
    --border: #dcdcdc;

    /* Cores Principais*/
    --p1: #DEFCF2;
    --p2: #9BD9D0;
    --p3: #9AD4BC;
    --p4: #328C8D;
    --p5: #396C6A;
}
.header{
    background-color: var(--p1);
    display:flex;
    justify-content:space-between;
    padding:10px;
}

.img{
    width:200px;
    heidth:10px;
}

.button{
    border: solid 10px #328C8D;
    border-radius: 10px;
    background-color:#328C8D;
    color:white;
    font-size:1rem;
}

.button-sair{
    border: solid 10px #328C8D;
    border-radius: 10px;
    background-color:#328C8D;
    color:white;
    font-size:1rem;
    padding:0 2rem;
}

.h1{
    color:#328C8D;
    font-size:2ren;
    font-family: "Public Sans", sans-serif;
}

.section{
    margin:1rem;
    border: solid 2px #328C8D;
    border-radius:10px;
    background-color:#F9F9F9;
    display:flex;
    flex-direction:column;

}

.table{
    background:white;
    width:100%;
    margin:1rem;
    padding:1rem;
    border-radius:10px;
    border-collapse: collapse;
    font-family: "Public Sans", sans-serif;

}

.titulo{
    display:flex;
    justify-content:center;
    padding:1rem;

}

.div-table{
    display:flex;
    justify-content:space-between;

}

.footer{
    background-color:#328C8D;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding:10px;
    color:white;
    font-family: "Public Sans", sans-serif;

}
.tr{

}
.th{
    border-bottom:1px solid var(--black);
    padding:8px;

}

.td{
    border-right:1px solid var(--black);
    padding:8px

}
.scroll{
    overflow: scroll;
}


